/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding: 20px;
}

/* Estilos para encabezados */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* Estilos para párrafos */
p {
  margin-bottom: 20px;
}

/* Estilos para imágenes */
img {
  max-width: 100%;
  height: auto;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }

  /* Modificar el tamaño de fuente para dispositivos móviles */
  h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}
