/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* Estilos para los pop-ups */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 90%;
  width: 300px;
}

.popup h2 {
  font-size: 18px;
  margin-top: 0;
}

.popup p {
  font-size: 14px;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #888;
  cursor: pointer;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 480px) {
  .popup {
    width: 90%;
    max-width: 280px;
  }

  .popup h2 {
    font-size: 16px;
  }

  .popup p {
    font-size: 13px;
  }

  .popup .close-btn {
    font-size: 16px;
  }
}
